.box-layout {
        //this runs in the browser nd browser only has access to public directory,
        //SO '/' the root of the webserver refers to public folder
        background: url('/images/bg_mobile.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // height: 100%;
        overflow: hidden;
        width : 100vw; // 100% to viewport width
        height : 82vh;

        //to align items vertically nd horizontally in center
        display: flex;
        align-items: center;
        justify-content: center;
}
.box-layout__loginbox { 
    text-align: center;
    //scss property
    background: fade-out($color: #000000, $amount: 0.20);
    width: 25rem;
    border-radius: 15px;
    padding: $m-size $m-size;
    color : $dark-grey;
    @media(max-width : $mobile-breakpoint) {
        width: 20rem;
    }
}
.box-layout__title {
    color : white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}