.container{
    max-width: 80 rem;
    margin : 0 auto;  //means that if width is 10000 px 100 on left and right will be distributed
    padding : 0 $m-size;
}
.container__main {
    
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    display: flex;
   justify-content: flex-start;
   flex-direction: column
}