
// avoid using generic selectors because they can interfere with styling of 3rd party components 
//like 'input' used in datepicker component
.text-input { 
    border: 1px solid #cacccd;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    height : 50px;
    @media( max-width : $mobile-breakpoint){
        font-size: $font-size-small;
        height : 50px;
    }
}

//Using inheritance in sass-lang
.select{
    @extend .text-input;
}
.textarea-input{
    @extend .text-input;
    height: 10rem;
}
