//colors 
$grey : #009688;
$dark-grey : #546E7A;
$light-grey : #ECEFF1;
// $pink-shade : #F06292;

//font sizes 
$m-size : 3.2rem;
$l-size : 4.8rem;
$s-size : 1.6rem;
$xs-size: 1.2rem;
$mobile-breakpoint : 45rem;
$font-size-large : 1.8rem;
$font-size-small : 1.5rem;